/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

  /* Stack menu items when viewing on a mobile device */
  .block-superfish .sf-menu > li {
    float: none;
    clear: both;
  }
    /* No backgrounds on dropdowns */
  .sf-menu li, .sf-menu.sf-navbar {
    background: none;
  }
  .sf-menu > li {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  .sf-menu > li.menuparent {
    background: #fff url(images/arrow_right.png) no-repeat right -5px;
  }
  .sf-menu > li.sfHover{
    background: #fff url(images/arrow_down.png) no-repeat right -5px;
  }
  /* Expand width to 100% of the mobile screen */
  ul.sf-menu{
    width: 100%;
  }
  /* Position relatively on mobiles */
  .block-superfish .sf-menu li:hover > ul, .block-superfish .sf-menu li.sfHover > ul {
    position: relative;
    top: 0;
    display: none;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (width : 480px) {
  .sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol, .sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
    max-width: 480px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  .sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol, .sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
    max-width: 320px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}
